ENV=production
PORT=4000

TG_API_ID=23308178
TG_API_HASH=499a82f8a8a7496fe9b6cb23e701fa4a
ADMIN_USERNAME=Davidrt

DATABASE_URL=postgres://postgres.gfnqjqkeouzqgubsamxv:[Adminmatrixdrt*2024]@aws-0-us-west-1.pooler.supabase.com:5432/postgres

IS_MAINTENANCE=

CACHE_FILES_LIMIT=20GB
